@import "tailwindcss";

:root {
  --background: #18181b;
  --foreground: #f4f4f5;
  --font-gabarito: "Gabarito", sans-serif;
}

html {
  font-size: 18px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gabarito);
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/white-noise.png");
  background-blend-mode: overlay;
  opacity: 0.1;
  pointer-events: none;
  z-index: -1;
}
