@import "tailwindcss";

:root {
  --background: #18181b;
  --foreground: #f4f4f5;
  --font-gabarito: "Gabarito", sans-serif;
}

html {
  font-size: 18px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gabarito);
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/white-noise.png");
  background-blend-mode: overlay;
  opacity: 0.1;
  pointer-events: none;
  z-index: -1;
}

/* Text Editor */
.richtext-editor {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
}

.toolbar {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.toolbar-group {
  display: flex;
  gap: 0.25rem;
}

.divider {
  width: 1px;
  background-color: #ccc;
  margin: 0 0.5rem;
}

.editor-content {
  min-height: 200px;
  outline: none;
}

.editor-content p {
  margin: 0 0 1rem 0;
}

.editor-content h1 {
  font-size: 2em;
  margin: 0 0 1rem 0;
}

.editor-content h2 {
  font-size: 1.5em;
  margin: 0 0 1rem 0;
}

.post-content p {
  margin: 0 0 1rem 0;
}

.post-content h1 {
  font-size: 2em;
  margin: 0 0 1rem 0;
}
.post-content h2 {
  font-size: 1.5em;
  margin: 0 0 1rem 0;
}
